[2015-10-02 14:22] jason-p-pickering opened #1 "invalid des does not return mapped category option combo names for invalid cocs"

[2015-10-02 17:14] jason-p-pickering opened #2 "Need to handle non-200 HTTP responses."

[2015-10-02 17:31] jason-p-pickering opened #3 "Consider using base64 encoding for persisting the session and simpler authentication"

[2015-10-05 13:30] jason-p-pickering opened #4 "Cache resources"
Currently, cacheable resources are not being cached. Look into ability to cache things, so that multiple calls to the same endpoint is not required.

[2015-10-05 13:58] jason-p-pickering opened #5 "Need to check that the mode of the files actually is correct"
Prior to remapping, we actually need to check that the stated mode of the file is what it says that it is

Handle cases like this with data element mode = "code", but with a line of data like

{"value":303,"attributeOptionCombo":"k5e1sDGK1GP","categoryOptionCombo":"NULL","dataElement":"NULL",

[2015-10-05 13:59] jason-p-pickering opened #6 "Need to deal with HTTP timeout requests"
triage.datim.org is regularly giving 504 errors on certain requests. make the code more robust to handle timeouts

[2015-11-06 18:12] jason-p-pickering opened #7 "Need to test for payload validity"
Currently, the script expects things like "attributeOptionCombo", but if "AttributeOptionCombo" is in the XML file, it will cause all sorts of errors. We need to validate that the attributes in JSON/XML payloads and column order in CSV payloads is actually correct.

[2015-11-09 10:47] mnamutso opened #8 "Need to validate Narratives"
Need to create a function to validate narratives too

[2015-11-09 15:08] jason-p-pickering opened #9 "Need to check orgunit-dataset assignment viability"
In any given payload, we may have a combination of different dataset assignment combinations. We need to test for validity of the orgunit-data element combinations, based on data set assignments and then merging this with available data elements per data set.

[2015-11-10 18:24] jason-p-pickering opened #10 "Handle blank default catoptioncombo"
Blank default option combos are allowable, and should be handed to be the "default" COC.

[2015-11-21 15:05] jason-p-pickering commented on #4
Implemented in f8fd3d88480889eeaf0a8cdb1fe6d04b461f7634

[2015-11-21 15:05] #4 closed

[2015-12-15 09:22] jason-p-pickering opened #11 "Need to validate data element /orgunit assignments"
Currently, it is not possible to validate compliance with data set assignments. We need to develop a map of orgunits/data elements, derived from data set assignments. Likely, this needs to be supported by an SQL view, which would provide the appropriate level of the Facility/Community grouping by OU. Otherwise, the map from the server could potentially be very large to get all orgunit group assign

[2015-12-21 07:53] jason-p-pickering opened #12 "Need to validate against closed/open time periods"
https://www.datim.org/api/dataSets?fields=id,name,openFuturePeriods,expiryDays,periodType

gives datasets along with the number of future option periods and the expiryDays for the data set. If the expiry days is non-zero, we should validate whether the periods contained in the payload a subject to period locking restriction.

[2015-12-21 07:55] jason-p-pickering opened #13 "Need to validate against approvals"
Data may be subject to approval level locking.

Use the approvals API to get (for a given mechanism or list of mechanisms) their current approval status.
If the approval status does not allow for data import at this point in time, a message should be displayed.

[2016-01-23 12:59] SKununka opened #14 "Saving function on windows machine throws an exception"
Hello Jason,
I am using a windows machine and running the R validation package. This runs okay and I get the out put  but when I try to save I cannot run this command directly

when I do I get this error

Error in .External2(C_writetable, x, file, nrow(x), p, rnames, sep, eol,  :
  unimplemented type 'list' in 'EncodeElement'

but when I first run the following commands in sequence then I am able

[2016-01-26 15:46] jason-p-pickering opened #15 "Validation rule checks failing for unknown reasons"
Error in do.ply(i) : task 1 failed - "subscript out of bounds

[2016-03-30 16:49] jason-p-pickering commented on #10
OBE. Catcombos will be forced to be supplied via data import settings.

[2016-03-30 16:49] #10 closed

[2016-03-30 16:50] jason-p-pickering commented on #8
This should be possible with the new "Select datasets" functionality. Would be good if you could test however.

[2016-03-30 16:52] jason-p-pickering commented on #14
Hi Solomon,
Thanks for reporting this issue. Could you please update your code to the latest release with

`library(devtools)
install_github("jason-p-pickering/datim-validation")`

and see if you still get this error?

[2016-04-01 10:18] SKununka commented on #14
Great will do so.Thanks much for the update.
Solomon Kununka
Uganda

On Wed, Mar 30, 2016 at 7:52 PM, Jason Pickering <notifications@github.com>
wrote:

[2016-04-04 19:19] jason-p-pickering commented on #14
Thanks. if you still have issues let me know.

Regards,
Jason

[2016-04-04 19:19] #14 closed

[2016-05-11 13:20] jason-p-pickering opened #16 "Document new functions for finding duplicates in the vignettes"

[2016-05-11 13:21] jason-p-pickering opened #17 "Check mechanism validity against the period of data submission"
Data should only be allowed to be entered when the mechanism is active for the time period in which data is being imported. Currently, the check is not strict enough.

[2016-06-07 15:46] Green-EyE opened #18 "Issue trying to run getValidOperatingUnits.R function"
Hi
I'm trying to list all valid Operating Units using "getValidOperatingUnits", but I'm getting the following error :

Error: could not find function "getValidOperatingUnits"

Can clarify what is wrong ?

Thanks in advance
Green-EyE

[2016-06-07 15:53] jason-p-pickering commented on #18
Please send you full script on this ticket so I can attempt to reproduce it.

[2016-06-07 16:00] Green-EyE commented on #18
Hi Jason
You can get the script from https://github.com/jason-p-pickering/datim-validation/blob/master/R/getValidOperatingUnits.R

Also I'm attaching it

Thanks
Green_EyE
[getValidOperatingUnits.txt](https://github.com/jason-p-pickering/datim-validation/files/303025/getValidOperatingUnits.txt)

[2016-06-07 16:21] jason-p-pickering commented on #18
I know where I can get the script but thanks.

Where is your R script which loads and utilizes this library function?

Did you follow the Readme and consult the vignette of how to get started?

On Tue, Jun 7, 2016, 18:00 Green-EyE <notifications@github.com> wrote:

[2016-06-08 06:45] Green-EyE commented on #18
Yes I've followed all the instructions in vignette  https://github.com/jason-p-pickering/datim-validation/blob/master/vignettes/validating_data.Rmd
I was able to test all the scripts that I wanted except this one

Attached the file I'm using to test.

Thanks for your support, please let me know if have additional questions

Green_EyE
[TargetExportXML_Testing.txt](https://github.com/jason-p-pickeri

[2016-06-08 06:56] jason-p-pickering commented on #18
Hi @Green-EyE ,
Please do not post data which may be confidential to this public repository. If this was test data, it is fine, otherwise, the data which you posted (if real) should not be posted to this repo. I have remove that post.

What you sent was the data. What I am asking for is the R script which you actually ran.

Please do not send any usernames or passwords. You should remove these pri

[2016-06-08 07:07] Green-EyE commented on #18
Ooops....sorry for the inconvenience, I totally agree with confidentiality rules. Thanks for deleting it.
Yes, I having problems with a this particular function returning an error ::

check_oU <- getValidOperatingUnits
Error: object 'getValidOperatingUnits' not found

Green_EyE

[2016-06-08 07:11] jason-p-pickering commented on #18
@Green-EyE , I have pushed a new fix for this in 61d2121e5c018ea22c4fa781c3103bb3289ea0a2. Thanks for reporting. Please reinstall from source with

[code]

After that, it should work. Otherwise, please reopen this issue.

[2016-06-12 12:34] mmwebaze commented on #18
Hi Jason,

I am unable to effect the new changes. I am getting the following error: Error in eapply(ns_env(pkg), force, all.names = TRUE)

[2016-06-13 10:30] jason-p-pickering commented on #18
@mmwebaze , can you please provide the command/log which results in this error?

[2016-06-13 10:37] jason-p-pickering commented on #18
@mmwebaze , here is what I did, and it worked.
[code]
which then returneda list of 36 Operating Units.

                               name          id
1                            Angola XOivy2uDpMF
....

[2016-06-13 11:04] mmwebaze commented on #18
Hi Jason,

that is exactly what I did and got the following message see attachment.
![eapply-error](https://cloud.githubusercontent.com/assets/7035644/16005377/fd16d78a-3134-11e6-9e13-02a73380024c.png)

[2016-06-13 11:15] jason-p-pickering commented on #18
@mmwebaze this does not seem to be a problem really with this package, but rather the "devtools" package and or R on Windows. I will try and test on a Windows machine and see if I can reproduce.

[2016-06-13 11:20] jason-p-pickering commented on #18
@mmwebaze , it seems you are using a quite old version of R. Could you try and upgrade to a later version and try again if possible?

https://cran.r-project.org/bin/windows/base/

[2016-06-13 12:38] mmwebaze commented on #18
Thanks Jason,

Updated devtools and curl now it is running.

[2016-06-13 12:38] #18 closed

[2016-06-13 12:39] jason-p-pickering commented on #18
Great @mmwebaze . Thanks. Closing this issue again for now.

[2016-06-17 18:34] jason-p-pickering commented on #17
Data from invalid mechanisms is leaking into the imports. We need to validate that the time period of import is fully within the start/end dates of the mechanism.

[2016-06-20 19:35] mmwebaze commented on #17
Hi Jason,

I have tested 'getInvalidMechanisms' on Uganda data import file submitted in ticket #4237 on HelpDesk and the following are returned as invalid mechanisms: U6CehXJlPCh and alMZIpFmpxf

Regards,

Michael

[2016-06-23 12:48] Green-EyE opened #19 "Getting Invalid OrgUnit's script"
Dear Jason
I'm using this repository to validated my XML file and I would like to validated the OrgUnit's code by running a script.

Can you please help ?

Green-EyE

[2016-06-23 13:05] Green-EyE opened #20 "Retrieve imported data by period"
Hi Jason,
I would like to able to retrieve imported data by period and download to a Excel file.

Green-EyE

[2016-06-27 13:08] Green-EyE commented on #19
anyone to help !!!!

[2016-06-27 13:09] Green-EyE commented on #20
anyone to help !!!!

[2016-06-27 13:23] jason-p-pickering commented on #20
Please consult the dhis2 documentation and specifically the API developer
documents.  The datim validation package does not currently support this
operation.

On Mon, Jun 27, 2016, 09:09 Green-EyE <notifications@github.com> wrote:

[2016-06-27 13:25] jason-p-pickering commented on #19
Hi there.

You can use the getOrganisationUnitMap method to obtain a map of all of the
organization units for your operating unit.

On Mon, Jun 27, 2016, 09:08 Green-EyE <notifications@github.com> wrote:

[2016-06-27 14:34] Green-EyE commented on #20
Ok, thank you.

[2016-06-27 14:39] Green-EyE commented on #19
Is there a way to list all missing orgUnit in case that they are present in my XML file but not yet in Datim ?

Thanks
Cicero

[2016-07-26 07:29] Green-EyE opened #21 "Invalid Mechanism"
Hi Jason
I'm running " getInvalidMechanisms(d,base.url,username,password,organisationUnit, validityDate ='2016-09-29')" and it's returning one invalid Mechanism "18275". But I can see it on Datim Pivot table.

Can I have your assistance , please ?
![image](https://cloud.githubusercontent.com/assets/8640356/17129422/4e0ce4cc-5313-11e6-9d03-94ac57c63b14.png)

Thanks
G

[2016-07-26 07:33] #20 closed

[2016-07-26 07:34] #19 closed

[2016-07-26 07:53] jason-p-pickering commented on #21
@Green-EyE , mechanisms have validity for specific periods. They will always be available through the Pivot Table, but may not be valid for data import for specific periods (or at all) .

Which period are you attempting to import data for? There may be a bug in this method, which does not correctly identify the period's start and end dates, and how they relate to the mechanism.

[2016-07-26 07:57] Green-EyE commented on #21
Thanks, we are attempting for 2016Q2.

G

[2016-07-26 08:14] jason-p-pickering commented on #21
I cannot reproduce your error with a test file.

Please execute the "clearCache()" command and be sure you get a recent copy of the metadata. I cannot reproduce your error with a test file, but this is a known limitation with this method.

This is related to #17, whereby periods such as 2016Q2 should really have an end-date of 2016-06-30 instead of 2016-09-29, which is the default. You can however

[2016-07-26 10:10] Green-EyE commented on #21
Hi Jason
I've followed your advise and I still facing the same problem. Also I've ran "Valid_IM <- getMechanismsMap(base.url,username,password,organisationUnit,endDate="2016-09-30") and 18275 is not listed.

Should I open a DATIM ticket and ask the team to add it ?

G

[2016-08-10 08:25] jason-p-pickering opened #22 "SIMS validation for agency files"
In certain cases, agencies will submit data for multiple countries. The current parser does not handle this use case.

[2016-08-10 14:28] Green-EyE commented on #21
Hi JP
I was able to retrieve all my organisation unit Implementing Mechanismsby browsing https://www.datim.org/api/categoryOptions?filter=organisationUnits.id:eq:myorgunitid&paging=false
 and all the Invalid Mechanism retrieved using this R Script are there. Seems to me that the new synchronized IM's are  been cached by the Script as Invalid Mechanism

It's possible to update the script in order t

[2016-08-10 15:27] Green-EyE opened #23 "Hi JP"

[2016-08-10 15:28] #23 closed

[2016-08-24 08:03] jason-p-pickering commented on #3
Implemented by reusing the session provided in httr.

loadSecrets() will handle the initial authentication, which can be reused across multiple requests.

[2016-08-24 08:03] #3 closed

[2016-08-24 13:44] jason-p-pickering opened #24 "Validate periods"
Need a way to validate periods

[2016-08-29 15:15] aswani-b opened #25 "Issue with Authentication for APIs"
Hi,

I have facing issues on trying to get data from datim-dev site api, when call is being made to https://dev-de.datim.org api.

Below is script that is used. Underlying issue is ,it failed in getDataElementMap  function. Authentication failed and redirected to login page.  Please help me to fix this issue. Appreciate your help.

############ Script that i am trying to execute
  require(datimval

[2016-08-29 15:18] jason-p-pickering commented on #25
Please update your code to the latest version and reread the documentation
on constructing a secrets file.

The syntax your have provided has been deprecated.

On Mon, Aug 29, 2016, 17:15 aswani-b <notifications@github.com> wrote:

[2016-08-29 15:32] aswani-b commented on #25
Hi Jason,

Even i have tried with constructing secrets file as well with below content . It dint work .

{
  "dhis": {
    "baseurl": "https://dev-de.datim.org",
    "username": "XXX",
    "password": "XXX"
  }
}

[2016-08-29 16:00] jason-p-pickering commented on #25
Try putting a back slash "/" after the baseurl

On Mon, Aug 29, 2016, 17:32 aswani-b <notifications@github.com> wrote:

[2016-08-29 16:10] aswani-b commented on #25
Hi Jason,

No Luck, It didnt work.

###############  datim.json -- file content
{
"dhis": {
"baseurl": "https://dev-de.datim.org/",
"username": "XXX",
"password": "XXX"
}
}

##########**Script that is used :**
require(datimvalidation)
secrets<-"/Testing/secrets/datim.json"
filename<-"C:/WorkSpace/SIMS/Testing/abovesite.csv"

d<-d2Parser(file=filename,type = "csv",
            dataElementIdScheme =

[2016-08-29 16:29] jason-p-pickering commented on #25
You must add a line to load the secrets

loadSecrets(secrets)

Just before the line which which begins with d.
On Mon, Aug 29, 2016, 18:10 aswani-b <notifications@github.com> wrote:

[2016-08-29 17:19] aswani-b commented on #25
Thanks for quick response Jason. Passed authentication step. Now i am getting below different error on executing d command

 **Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
  there is no package called ‘Rcpp’**
In addition: Warning message:
In dir.create(wd) : 'C:\WorkSpace\SIMS\.R_Cache' already exists

**Stack Trace:**
 stop(e)
12 value[[3L]](cond)
11 tr

[2016-08-30 18:20] aswani-b commented on #25
Hi Jason,

Can you please help me fixing issue mentioned in the above comment.

Thanks,
Aswani

[2016-08-30 18:48] jason-p-pickering commented on #25
*JSON string contains (illegal) UTF8 byte-order-mark!*

I suspect, but am not sure, your JSON file contains curly quotes. Can you
try and use a single tick '
instead of double quotes?

You can try and validate you JSON file with the JSONlint program as well.

On Tue, Aug 30, 2016 at 8:20 PM, aswani-b <notifications@github.com> wrote:

--
Jason P. Pickering
email: jason.p.pickering@gmail.com
tel:+4

[2016-08-30 20:00] aswani-b commented on #25
Hi Jason,

As you suggested, Validated datim.json authentication file with JSONlint. Using curly quotes is valid json.
I think Secrets(secrets) is not causing this issue that i am getting now.  r<-httr::GET request is success and i see data getting loaded in data object.

Below are error details that i am facing now. Please let me know.
**Function where its failing :** remapDEs
**line of code** :

[2016-08-31 08:34] jason-p-pickering commented on #25
It looks like a problem with your installation there is no package called ‘Rcpp’

Please try

install.packages('Rcpp')

[2016-08-31 19:26] aswani-b commented on #25
Hi Jason,

Thanks for your response. I am working on windows7 professional.

I ran below commands
**install.packages('Rcpp')
library(Rcpp)**

On trying to execute checkValueTypeCompliance(d) i got below error message
**Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  there is no package called ‘stringi’**
**Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()),

[2016-09-01 02:53] aswani-b commented on #25
Hi Jason,

After executing the steps i mentioned in above comment, I am able to execute the rest of the commands.

I tried validating a file which is already validated on https://dev-de.datim.org website.

On executing validateData (last script command) i see warning messages. I am not sure if we need to consider these warnings or if i can consider data validation scripts are considering this file

[2016-09-01 03:43] jason-p-pickering commented on #25
How did you install the datimvalidation package?  Did you install it via
the instructions in the README?

On Thu, Sep 1, 2016, 04:53 aswani-b <notifications@github.com> wrote:

[2016-09-01 09:51] #21 closed

[2016-09-01 10:59] aswani-b commented on #25
Hi Jason,

Yes i did follow README instructions for data validation package installations.
Below are the commands that i see in README file instructions.

install.packages('devtools')
library(devtools)
install_github("jason-p-pickering/datim-validation")

devtools::install_github('jason-p-pickering/datim-validation',build_vignettes = TRUE)
library(datimvalidation)

[2016-09-01 12:13] jason-p-pickering commented on #25
It would seem that the script ran fine.Neither getInvalidDataElements(d) or
checkValueTypeCompliance(d) returned any rows, which indicates that the
data payload seems to be fine.

 If you are testing SIMS data, there is no need to run validation rules
(the last command) as there are no validation rules in DATIM for SIMS data.

So, I think this issue is resolved?

On Thu, Sep 1, 2016 at 12:59 PM, a

[2016-09-01 14:15] aswani-b commented on #25
Hi Jason,

Yes issue is resolved. Thanks for quick response.
Appreciate for your support.

Thanks,
Aswani

[2016-09-01 14:15] #25 closed

[2016-09-23 14:15] jason-p-pickering opened #26 "Add support for ADX"
Need to add support for ADX format

[2016-09-23 16:18] Green-EyE opened #27 "issue with getExactDuplicates"
Hi JP
I'm running this script to check for duplicates
check_dup <- getExactDuplicates(d)

and is returning 38 obs, but actually there's no duplication in the file
[ResultExportXML20160923171828-Ultimo - Copy.txt](https://github.com/jason-p-pickering/datim-validation/files/490155/ResultExportXML20160923171828-Ultimo.-.Copy.txt)

Can you help clarify this issue ?

Thanks
G

[2016-09-23 17:49] mmwebaze commented on #27
@Green-EyE

I have run this file and it does have duplicates...
Looking at the first two duplicates for p.mz.1.Military, you have
"EjdjNEKUqUE","2016Q2","siMZUtd2cJW","XkqnsV4slkA","ns9iYmAt2PK","432"
"EjdjNEKUqUE","2016Q2","siMZUtd2cJW","XkqnsV4slkA","ns9iYmAt2PK","180"

Mechanism (17723 - FADM Prevention and Circumcision Program) has uid ns9iYmAt2PK while data element 'HTC_TST_N_DSD_Results' is

[2016-09-23 17:51] jason-p-pickering commented on #27
Please be careful of posting any actual data on this public repository.

On Fri, Sep 23, 2016, 7:49 PM mmwebaze <notifications@github.com> wrote:

[2016-09-28 06:57] Green-EyE commented on #27
Hi Michael and Jason
Thanks for your support, I've manage to solve the issue.

Green-EyE

[2016-09-28 06:57] #27 closed

[2016-10-05 07:28] jason-p-pickering commented on #15
Closing this as has not been seen or reported for some time.

[2016-10-05 07:28] #15 closed

[2016-10-05 07:29] jason-p-pickering commented on #8
I beleive this should be taken care of with the "checkValueTypeCompliance() function.

[2016-10-05 07:29] #8 closed

[2016-10-21 15:40] Green-EyE opened #28 "Returning strange error for getOrgnisationUnitMap"
I'm getting a strange error after I load datavalidation, username, password, base.url and OrganisationUnit

getOrganisationUnitMap(base.url,username, password,organisationUnit)
Error in getOrganisationUnitMap(base.url, username, password, organisationUnit) :
  unused arguments (username, password, organisationUnit)

Can you assist?

Thanks
G

[2016-10-22 12:42] mmwebaze commented on #28
Hi Green-EYE,

the function getOrganisationUnitMap only accepts a single parameter. See the source code below

https://github.com/jason-p-pickering/datim-validation/blob/master/R/getOrganisationUnitMap.R

Regards,

Michael

[2016-10-26 06:33] Green-EyE commented on #28
Hi Michael,
Thanks for you promptly response, I've realize that I was mistaking on my secrets file. I've solved the issue.

G

[2016-10-26 06:33] #28 closed

[2016-11-09 13:16] Green-EyE opened #30 "Validation Rule Error"
Hi JP
The validateData is returning the following error

Error in `$<-.data.frame`(`*tmp*`, "orgUnit", value = character(0)) :
  replacement has 0 rows, data has 3655

Any clue what it is happening ?

Thanks
G

[2016-11-09 13:20] jason-p-pickering commented on #30
@Green-EyE Can you please send me the data file which you are validating?

We have seen this before, and  @mmwebaze submitted a potential fix, but I would like to be able to reproduce it.

[2016-11-09 13:49] Green-EyE commented on #30
Ok, I'll send to your e-mail ( jason.p.pickering@gmail.com ).

[2016-11-09 16:02] mmwebaze commented on #30
@Green-EyE @jason-p-pickering this seems to be a Windows based issue. My fix prevents the error but the orgUnit and attributeOptionCombo columns remain empty.

[2016-11-09 16:27] jason-p-pickering commented on #30
OK..I will test on Windows tomorrow. Thanks for the feedback.

On Wed, Nov 9, 2016, 17:18 mmwebaze <notifications@github.com> wrote:

[2016-11-09 16:54] Green-EyE commented on #30
Thanks Michael and Jason
We would like to submit the XML file today.

Thanks
Cicero

[2016-11-09 17:07] jason-p-pickering commented on #30
Please submit the file to the help desk. We will provide feedback there.

On Wed, Nov 9, 2016, 18:03 Green-EyE <notifications@github.com> wrote:

[2016-11-11 14:51] mmwebaze opened #31 "getValidDataElements returns empty rows for datasets of formType Default"
In validating a file with a data element that belongs to a dataset of formType other than 'CUSTOM' such as 'Default' returns the data element as invalid. The R script (getValidDataElements.R) returns empty rows for datasets of formType 'Default'.

[2016-11-11 15:45] jason-p-pickering commented on #31
This is caused due to the lack of an HTML form . We need to check for this first and then if it does not exist fall back to the data elements assigned to the dataset.

[2016-11-14 13:24] Green-EyE commented on #30
Hi there. I'm posting my script so you can help identify the problem:

 require(datimvalidation)

+             dataElementIdScheme = "code",orgUnitIdScheme = "code",
+             idScheme = "code"
+             ,invalidData = FALSE )

+                             return_violations_only = TRUE,
+                             parallel = FALSE )
Error in `$<-.data.frame`(`*tmp*`, "orgUnit", value =

[2016-11-14 13:34] jason-p-pickering commented on #30
Thanks for this.

I suspect this is a Windows issue, which I have not yet been able to reproduce.

[2016-11-15 09:46] jason-p-pickering commented on #31
@mmwebaze I have looked at this think it was due to a mismatch in the two different views which are used to get the valid data elements. I have made a change in DATIM production which I think should correct this. Could you try again?

[2016-11-15 10:20] Green-EyE commented on #30
Hi All
I doing some research in this issue and seems that the problem is  just with a variable name in the dataset . Could you please add the old version of validateData as an option in datimvalidation package so I can still running the validation rules ?

Thanks
G

[2016-11-15 10:21] jason-p-pickering commented on #30
@Green-EyE , I am looking into this right now on a Windows box. . Let me see what I can come up with

[2016-11-15 10:22] Green-EyE commented on #30
Thank you

[2016-11-15 12:02] jason-p-pickering commented on #30
@Green-EyE I beleive this has been solved in 954d606842c1e1c69869bf8c386a5c30afe987a5.

Please update your code and try again.

I have tested your data on Windows, and was able to validate the data.

[2016-11-15 12:02] #30 closed

[2016-11-15 13:34] Green-EyE commented on #30
Yes, works fine now, thanks

2016-11-15 14:02 GMT+02:00 Jason Pickering <notifications@github.com>:

--
*Cicero Salomao*
*Cell: +258824910200*
*Skype: cicerosn*

* Email: cicerosn@myway.com <cicerosn@myway.com> *

[2016-11-15 13:55] mmwebaze commented on #30
@jason-p-pickering I have check this on Windows and it is good now.

[2016-11-15 14:03] jason-p-pickering commented on #30
:+1:

[2016-11-15 15:07] mmwebaze commented on #31
@jason-p-pickering I still get 'Site Tiered support' as an invalid data element. When I add the dataset id to the vector of datasets passed to getInvalidDataElements(data = d, datasets), I get 'invalid input, please try again' error

[2016-11-16 07:36] jason-p-pickering commented on #31
@mmwebaze , OK, thanks for the detailed report. I will have a look.

[2016-12-05 20:52] mmwebaze opened #32 "validateData throws Errors"
@jason-p-pickering

In validating SIMS related data, the validateData is throwing the following error which I suspect is windows related.

Error in `$<-.data.frame`(`*tmp*`, "combi", value = ".") :
  replacement has 1 row, data has 0

FYI @ManishUNC

[2016-12-07 06:42] jason-p-pickering commented on #32
@mmwebaze this is likely being thrown because there are no  validation rules for SIMS. I will look into it, but do not think its a high priority issue as validation rules are not implmented for SIMS.

[2016-12-16 10:38] Green-EyE opened #33 "issues with getInvalidDataElements()"
Hi Support team
I'm running the script against my XML data file and I'm getting 32 obs. But  dataElement and categoryOptionCombo are valid.

Can you help me ?

Attaching the file.

G
[invalid_des_XML_Updated_Q420161215201835.xlsx](https://github.com/jason-p-pickering/datim-validation/files/656919/invalid_des_XML_Updated_Q420161215201835.xlsx)

[2016-12-16 13:57] jason-p-pickering commented on #33
@Green-EyE Have you submitted your data through the help desk? I can take a look at it there.

[2016-12-16 14:09] mmwebaze commented on #33
@Green-EyE this looks like the same file already submitted on helpdesk. I have responded to this particular issue on the help desk

[2016-12-16 14:29] vshioshvili opened #34 "Error in sims parser R script"
Error is being thrown when trying to run sims parser against the hrsa data file;

Error in if ((start_date - end_date) < nrow(bar)) { :
  missing value where TRUE/FALSE needed
In addition: Warning message:
In sims2Parser(file = filename) :
  214  rows are incomplete. Please check your file to ensure its correct.

Data file is in zendesk ticket: https://datim.zendesk.com/agent/tickets/6189

[2016-12-19 08:09] Green-EyE commented on #33
Hi Michael,
I don't have access to your response on help-desk. Do you mind to past here so I can follow up ?

Thanks
G

[2016-12-19 13:31] mmwebaze commented on #33
@Green-EyE sorry I hadn't realised you don't have access to the help-desk. I run the same file on my end and it is all ok. Could you have missed any of the following datasets with the below ids in your validation script?

id = "ZaV4VSLstg7"
id = "j9bKklpTDBZ"
id = "vvHCWnhULAf"
id = "sCar694kKxH"

[2016-12-19 14:40] Green-EyE commented on #33
Hi Michael,
I don't have the listed "id" in my XML file, please check the datasets I'm
using (image):

[image: Imagem intercalada 1]

Thanks
Cicero

2016-12-19 15:31 GMT+02:00 mmwebaze <notifications@github.com>:

--
*Cicero Salomao*
*Cell: +258824910200*
*Skype: cicerosn*

* Email: cicerosn@myway.com <cicerosn@myway.com> *

[2016-12-19 14:41] Green-EyE commented on #33
![image](https://cloud.githubusercontent.com/assets/8640356/21316562/f98ff7a8-c609-11e6-9174-8a9627a363f2.png)

[2016-12-19 14:49] mmwebaze opened #35 "validateData issues - on Windows"
@jason-p-pickering writing validateData returned validation.results into a csv file both orgUnit and attributeOptionCombo are NA in the resultant validation_violations csv file.

[2016-12-19 14:58] mmwebaze commented on #33
@Green-EyE can you share with me the whole script so I can see how to help?

[2016-12-19 15:04] Green-EyE commented on #33
@mmwebaze , you can find on datimvalidation library,
 https://github.com/jason-p-pickering/datim-validation/blob/master/R/getInvalidDataElements.R

Thanks
G

[2016-12-19 15:57] mmwebaze commented on #33
@Green-EyE  try the following

datasets = c("sCar694kKxH", "j9bKklpTDBZ", "asHh1YkxBU5", "STL4izfLznL", "ZaV4VSLstg7", "vvHCWnhULAf", "j1i6JjOpxEq", "i29foJcLY9Y", "gZ1FgiGUlSj", "hIm0HGCKiPv", "xBRAscSmemV", "NJlAVhe4zjv", "VWdBdkfYntI", "ovYEbELCknv")

invalid_des<-getInvalidDataElements(data = d, datasets)

where d is output from d2Parser and datasets is a vector of the valid dataset ids

[2016-12-20 12:05] Green-EyE commented on #33
@mmwebaze , is returning the following error ;

Error in parse_string(txt, bigint_as_char) :
  lexical error: invalid char in json text.
                                       <!DOCTYPE HTML> <html class="lo
                     (right here) ------^

Thanks
G

[2016-12-21 15:23] Green-EyE commented on #33
@jason-p-pickering and @mmwebaze is this issues related wih the datasets options that I'm using ?
10 20 21 24 24 25 27 31, the period is 2016Q3.

Thanks
G

[2016-12-21 16:42] mmwebaze commented on #33
@Green-EyE  I haven't come across these errors. What OS are you using? I generally use Linux and don't have such issues until I use Windows

[2016-12-22 08:06] Green-EyE commented on #33
@mmwebaze , I'm using Windows 7 Enterprise and RStudio Version 0.99.49. Did you tried with the same dataset options ?

Thanks
G

[2016-12-22 08:15] jason-p-pickering commented on #33
I tried that exact code, and did not have a problem. To me, it looks like a corrupted or broken connection to the server.

[code]
basically means that the JSON parser cannot read the response from the server.

You might try to clear the cache with

`clearCache()` and answer "Y". This will remove any locally cached artifacts, and force a refresh of metadata from the server.

Let me know how it goes

[2016-12-22 08:29] jason-p-pickering commented on #34
@vshioshvili I think this has been corrected.

[2016-12-22 08:29] #34 closed

[2016-12-22 15:25] Green-EyE commented on #33
@jason-p-pickering, Done, but the issue continues.

G

[2016-12-22 15:27] jason-p-pickering commented on #33
Could you post the exact source code of the script you are using either to
me or via email? Obviously, no passwords.

Best regards,
Jason

On Thu, Dec 22, 2016 at 4:25 PM, Green-EyE <notifications@github.com> wrote:

--
Jason P. Pickering
email: jason.p.pickering@gmail.com
tel:+46764147049

[2016-12-28 17:08] jason-p-pickering commented on #35
@mmwebaze I need more details. Could you provide details of a data file to test?

[2016-12-28 17:10] jason-p-pickering commented on #33
@Green-EyE I think I have narrowed this problem down, and it seems to result from having an expired connection to DATIM. The connection is established with the `loadSecrets` method. The cookie will expire after a certain period of time. Reloading your secrects should solve this problem.

However, I will put on the roadmap some automatic method to reload the secrets in case of an expired connection

[2016-12-28 17:10] #33 closed

[2016-12-28 17:14] jason-p-pickering commented on #22
https://github.com/jason-p-pickering/datim-validation/blob/master/R/sims2Parser.R#L45

Requires a global user. May need to relax this in the future if files are submitted per OU.

[2016-12-28 17:14] #22 closed

[2017-01-10 15:57] Green-EyE commented on #33
Hi JP
I wish you a Happy new year. I've installed all the packages again a the
issue remains, what do you mean by work around ? I am missing something ?

Thanks

2016-12-28 19:10 GMT+02:00 Jason Pickering <notifications@github.com>:

--
*Cicero Salomao*
*Cell: +258824910200*
*Skype: cicerosn*

* Email: cicerosn@myway.com <cicerosn@myway.com> *

[2017-01-10 16:06] jason-p-pickering commented on #33
@Green-EyE please send your exact script you are using to me via email. We may need to schedule a time to debug by phone.

[2017-01-11 07:36] Green-EyE commented on #33
Ok

[2017-01-12 20:07] mmwebaze commented on #35
@jason-p-pickering

I have been able to isolate the issue. When validating a file, if a facility doesn't have a code, NA is used in the resultant violations file. Ticket #6367 on helpdesk has a sample data file which can be used to replicate this issue.

FYI @ManishUNC

[2017-01-12 20:13] jason-p-pickering commented on #35
Good find. I will take a look tomorrow. I think it makes sense however.

On Thu, Jan 12, 2017, 21:07 mmwebaze <notifications@github.com> wrote:

[2017-01-13 15:24] stephbruno commented on #35
Thanks for the help!  If you could include both the id and the code for an organization then we would be all set.

[2017-01-19 19:20] vshioshvili opened #36 "error with mechanism validation method"
When trying to validate mechanisms in parsed data frame, I get the following error:

Error in getMechanismsMap(organisationUnit, ISO) : unused argument (ISO)

[2017-01-19 19:33] vshioshvili commented on #36
if ISO parameter is omitted, following error occurs:

[1] "A valid ISO period identifier must be supplied"
Error in getInvalidMechanisms(ds) :

[2017-01-20 05:21] jason-p-pickering commented on #36
Hi Vlad. Try and use the `checkMechanismPeriodValidity` function which should do basically the same thing, but will automatically take into account the appropriate periods (or should).

I will take a look at this error, but likely this function will be deprecated

[2017-01-20 09:10] vshioshvili commented on #36
Great. Yes, checkMechanismPeriodValidity does the job.

[2017-01-20 09:21] vshioshvili opened #37 "sims parser date shift details"
Hey Jason, I think it might be useful if sims2parser could spit out the shift actions that took place as the result of the method call; as the method returns altered data frame, I don't think it can return it, but i was thinking, when processing is done, before returning, it could print out count of affected assessments and the list of those affected (assessment id, old period, new period).

[2017-01-27 17:37] mmwebaze opened #38 "getInvalidDataElement fails if dataset is not part of the 50 listed options"
@jason-p-pickering

the getInvalidDataElement function fails if the vector contains a dataset uid that isn't part of the 50 from which to select from. This is true for SIMS 2.0 datasets but also for the following MER Results datasets ("JXKUYJqmyDd","qRvKHvlzNdv").

See ticket #6612 on helpdesk.

Thanks,

Michael

[2017-01-27 18:00] vshioshvili commented on #38
@jason-p-pickering it's a "bug" in the getDataSets function. It does not specify paging=false when asking for the list of data sets, and only ends up getting first 50; and now we are over 50, making SIMS and some MER data sets inaccessible. - Vlad

[2017-01-28 00:03] jason-p-pickering commented on #38
Got it. WIll fix. Thanks for reporting.

On Sat, Jan 28, 2017 at 12:30 AM, Vlad Shioshvili <notifications@github.com>
wrote:

--
Jason P. Pickering
email: jason.p.pickering@gmail.com
tel:+46764147049

[2017-01-28 01:01] jason-p-pickering commented on #38
Should be solved in b8eaa9cb6dd1431366d63e9874f3291cf3a7d364

[2017-01-28 01:01] #38 closed

[2017-02-06 15:27] Green-EyE commented on #36
Hi Vlad and Jason

I'm receiving the follow error :
Error in UseMethod("months") :
no applicable method for 'months' applied to an object of class "c('double', 'numeric')"

Can you help ?

Thanks in advance

[2017-02-09 08:15] Green-EyE commented on #36
Now I receiving the following error

Error in FUN("2016Q4"[[1L]], ...) : could not find function "days"

[2017-02-09 09:25] jason-p-pickering commented on #36
Hi. Please try the latest code. I have made a temporary fix which should
get  around this issue for now.

On Thu, Feb 9, 2017 at 2:45 PM, Green-EyE <notifications@github.com> wrote:

--
Jason P. Pickering
email: jason.p.pickering@gmail.com
tel:+46764147049

[2017-02-09 12:20] Green-EyE commented on #36
Yes, thanks is working now

[2017-02-22 14:03] stephbruno commented on #35
Is there any update on this?  The validation script is still returning blanks for us because some of our org units are missing codes.  Could you please include the org unit id as well?
Thank you!

[2017-03-01 15:42] Green-EyE opened #39 "Validation is not working for LAB Indiators"
Dear team,
Validation rules check are failing return when I try to run only LAB indicators file:

vr_violations<-validateData(data = d,
                            return_violations_only = TRUE,
                             parallel = FALSE )
Warning message:
In validateData(data = d, return_violations_only = TRUE, parallel = FALSE) :
  NAs introduced by coercion

Regards
Cicero

[2017-03-15 05:59] jason-p-pickering opened #40 "Validate secrets file"
Currently, if the secrets file is not properly constructed, e.g. a missing trailing slash in the baseurl, the scripts will not work.

Implement methods to validate the secrets file and provide feedback to the user.

[2017-03-30 15:56] vshioshvili opened #41 "validating mechanisms"
Hey Jason,

checkMechanismPeriodValidity says: "This function will return an object of invalid mechanisms and periods"; but when running with a file that has an invalid mechanism (when importing file that has code for mechanisms, it converts all valid mechanisms to UIDs, but invalid stays same - e.g. I put in 17x269) it only flags periods, but does not flag invalid mechanisms.

sims parser flags i

[2017-03-30 16:55] jason-p-pickering commented on #41
Yup. I see it. This is part of a bigger refactor, but will fix this ASAP.

On Thu, Mar 30, 2017, 17:56 Vlad Shioshvili <notifications@github.com>
wrote:

[2017-05-04 15:16] Green-EyE opened #42 "How to download data"
Hi everyone,
Any clue in how to download data from a specific reporting period (dataelemnt, categoryOptionCombo, attributeOptionCombo, orgUnit, value) using R or Querying the Browser ?

Thanks
G

[2017-05-04 15:22] Green-EyE commented on #42
I'm trying the following script but it's failing:

#We are going to need these two libraries
require(RCurl)
require(XML)
#This is a URL endpoint for a report table which we can
#get from the WebAPI.
url<-"https://www.datim.org/api/reportTables/EM3AhEeBcR1/data.csv"
#Lets get the response and we do not need the headers
#This site has some issues with its SSL certificate
#so lets not verify it.
resp

[2017-05-10 14:47] vshioshvili opened #43 "sims parser invalidData bug"
In sims2Parser, there is a bug that makes invalidData attribute pointless. On line 133, if statement checks if there are invalid records, and if true, removes them instead of using the invalidData parameter to decide; I believe it should be this:

    if (!invalidData) {
      data <- data[!invalid.rows, ]
    }

instead of current:

    if (sum(invalid.rows)) {
      data <- data[!invalid.rows, ]

[2017-05-10 15:49] vshioshvili opened #44 "sims parser exporting assessment id"
Jason, sims parser exports storedby/timestamp/comment only when there is shifting happening. When sims parser is applied, but there are no shifting, resulting data frame does not have those three columns. May I suggest adding support for that?

I believe it would only involve adding following three lines in the else statement on line 193, so instead of
[code]
it would be:
[code]

[2017-05-18 13:02] vshioshvili opened #45 "bug in periodUtils"
periodUtils does not set the endDate correctly for a quarterly type:

https://github.com/jason-p-pickering/datim-validation/blob/master/R/periodUtils.R#L63

on line 63 is has:
[code]

It results in end date being the same month as the start month:

[code]

I believe it should say:
[code]

[2017-05-18 13:11] vshioshvili opened #46 "bug in getInvalidDatasetMembers.R"
When trying to supply data sets via parameter, it generates an error

[code]

It is caused by
https://github.com/jason-p-pickering/datim-validation/blob/master/R/getInvalidDatasetMembers.R#L12

allDataSets is only created when parameter is not provided, and then code attempts to use it.

[2017-05-18 13:47] jason-p-pickering commented on #46
@vshioshvili yes, you are right. I have completely rewritten these methods, but its a merge I have not managed to make yet. Will try and fix this however for this version

[2017-05-23 10:42] vshioshvili commented on #45
This was resolved by https://github.com/jason-p-pickering/datim-validation/commit/e298311c70eeb7ee2977f411b411c51e4f346c71

[2017-05-23 10:42] #45 closed

[2017-05-23 10:43] vshioshvili commented on #44
This was resolved by https://github.com/jason-p-pickering/datim-validation/commit/e298311c70eeb7ee2977f411b411c51e4f346c71

[2017-05-23 10:43] #44 closed

[2017-05-23 10:50] vshioshvili opened #48 "supporting header-less file in d2parser"
Jason,

In sims workflow I use both d2parser and sims2parser. I use d2parser output for two reasons: check if there are duplicates, and also to have "original" period-assessment id mapping. sims2parser shifts dates, and one of the outputs agencies asked is summary of assessments that got shifted; i use outputs of the two parsers to generate that.

in the original SIMS guidance agencies were told t

[2017-05-23 10:52] jason-p-pickering commented on #48
Sure sounds reasonable.

A lot of that code needs to be centralized, but for now, it seems reasonable to just modify it as an optional parameter with a default value so that we do not break existing scripts which may not need this.

[2017-07-27 14:35] takanyachoto opened #50 "File Validation error"
Hi Jason,

Am getting the following error
Error in `[.data.frame`(data, ,1:3) : undefined columns selected

![screen shot 2017-07-27 at 4 34 09 pm 2](https://user-images.githubusercontent.com/30501631/28675913-8caa2b9e-72e9-11e7-8881-f92b41f21525.png)

[2017-09-06 09:40] takanyachoto commented on #50
Managed to resolve the error

[2017-09-06 09:40] #50 closed

[2018-02-09 08:30] chris-githu opened #51 "Determine technical approach for deprecated rules"
Hi @jason-p-pickering

While validating Malawi's import file [ZD10488](https://datim.zendesk.com/agent/tickets/10488), I noticed that `datim-validation` is subjecting the data to this validation rule
- https://www.datim.org/api/validationRules/xMAzvvGL8Hi
However, based on the data entry form (and updated data elements this quarter), the following rule should be applied instead
- https://www.datim

[2018-02-09 09:37] jason-p-pickering commented on #51
@chris-githu this is really a false positive. The validation scripts are doing what they should, and as you see, the validation also occurs in the same way on the server. There is no association (purposefully) between validation rules and datasets in DHIS2, so this old rule is still being applied even though it is really deprecated.

I think we need a new issue in the MERTide repo, which would ind

[2018-07-17 18:56] vshioshvili commented on #51
@chris-githu after talking with Jason yesterday, we have a solution for this. I've made the change and is in the pull request https://github.com/jason-p-pickering/datim-validation/pull/53

@jason-p-pickering @talexie @ManishUNC

[2018-07-26 06:38] jason-p-pickering commented on #51
Should be fixed by @vshioshvili  in 8cf4e99380a57b4d304afeb0de49deb635564365

[2018-07-26 06:38] #51 closed

[2018-08-27 11:51] vshioshvili opened #54 "use of unwise characters in DHIS2 urls"
In a number of places datim-validation library uses characters deemed unwise that Tomcat started to disallow. In 7.0.90 url containing [ and/or ] gets trimmed and results in a 400 request from DHIS2. In 7.0.85 Tomcat did not filter those out.

As DHIS2 uses [ and ] for providing array of field names (at least that is the main use that appears in the datim-validation), they need to be escaped.

I d

[2018-08-27 12:28] jason-p-pickering commented on #54
@vshioshvili thanks for the report. Strange that this happens, since the URL should be encoded by the `URLencode` function. (https://github.com/jason-p-pickering/datim-validation/blob/master/R/getDataElementMap.R#L10)

I will have a look at it and thanks for the bug report.

[2018-08-27 12:30] jason-p-pickering commented on #54
From [here](https://stat.ethz.ch/R-manual/R-devel/library/utils/html/URLencode.html)

[code]

[2018-08-27 12:32] vshioshvili commented on #54
@jason-p-pickering if you need environment to test against, my dev instance - vshioshvili.datim.org has 7.0.90 and your account is enabled with super user.

[2018-08-27 12:34] vshioshvili commented on #54
@jason-p-pickering looks like unless you specify reserved=TRUE it won't alter them.

[2018-08-27 13:05] vshioshvili commented on #54
@jason-p-pickering i have a suspicion that this might not work as expected.

this is the code in getDataElementMap.R:

``` url<-URLencode(paste0(getOption("baseurl"),"api/dataElements?fields=id,code,shortName,name,numberType,optionSet[id]&paging=false"))```

problem is that from the above, characters like ?, &, and = are also "reserved", so above call will result in those being escaped as well, pr

[2018-08-27 13:08] jason-p-pickering commented on #54
Investigate https://cran.r-project.org/web/packages/urltools/vignettes/urltools.html

[2018-08-27 13:11] vshioshvili commented on #54
[1] "dev-de.datim.org/api/dataElements?fields=id,code,shortName,name,numberType,optionSet[id]&paging=false"

[1] "dev-de.datim.org%2Fapi%2FdataElements%3Ffields%3Did%2Ccode%2CshortName%2Cname%2CnumberType%2CoptionSet%5Bid%5D%26paging%3Dfalse"

[2018-09-12 20:49] stephbruno opened #55 "bug in validateData"
validateData returns the following error:

Error in getValidDataElements(datasets = ds) : object 'ds' not found

Is it this line?
validDataElements<-getValidDataElements(datasets=ds)

[2018-09-14 09:06] jason-p-pickering commented on #55
Hi @stephbruno. Could you provide a copy of the script you are using? I am not able to reproduce based on this information.

[2018-10-19 09:01] jason-p-pickering commented on #42
@Green-EyE have a look at https://docs.dhis2.org/master/en/developer/html/webapi_data_values.html#webapi_reading_data_values. The script you provide there is for reading an SQL view, but not for directly working with the data value API.

[2018-10-19 09:01] #42 closed

[2018-12-13 08:17] jason-p-pickering commented on #41
@vshioshvili I think this has been fixed in the unit-tests branch here d9d88e64393576291d8526e6ca5d65923fffe7bb.

What will happen now is if the file is able to be parsed, but if we are not able to remap everything to UIDs, we should error out. This could happen for instance when people supply the wrong coding scheme, or if they use the correct coding scheme, but the identifiers do not exist.

Thi

[2018-12-13 08:38] jason-p-pickering commented on #39
Cannot reproduce this, but I think it is not applicable.

[2018-12-13 08:38] #39 closed

[2018-12-13 08:38] jason-p-pickering commented on #36
Closing this as it seems to be resolved for now.

[2018-12-13 08:38] #36 closed

[2018-12-13 08:57] jason-p-pickering commented on #2
Unclear what the purpose of this is.

[2018-12-13 08:57] #2 closed

[2018-12-13 09:00] jason-p-pickering commented on #1
Won't do. We don't have any guarentee that the COC is even going to be valid. The important thing is to provide the identifier which is not correct. Whether its a totally bogus COC or a COC which is not valid for the particular data element, a listing of the invalid DE/COC combination will be returned to the user.

[2018-12-13 09:00] #1 closed

[2018-12-13 09:01] #41 closed

[2018-12-13 09:12] #48 closed

[2018-12-13 09:12] #40 closed

[2018-12-13 09:16] jason-p-pickering commented on #35
@stephbruno I think this has been fixed with a tighter validation of the import file. If your file has any codes which are missing, and the coding scheme has been set to code, you will get an error. This has been implemented here d9d88e64393576291d8526e6ca5d65923fffe7bb and will be merged into the master branch soon. However, if you want to test it , please feel free to try from the `unit-tests` b

[2018-12-13 09:16] #35 closed

[2018-12-13 09:17] jason-p-pickering commented on #6
The issue  is not specific enough, but in general, requests should be made with the default timeout of 60 seconds, or a longer time out of 600 seconds, and expect a 200 response.

[2018-12-13 09:17] #6 closed

[2018-12-13 10:03] jason-p-pickering commented on #5
Should be handled by d9d88e64393576291d8526e6ca5d65923fffe7bb

[2018-12-13 10:03] #5 closed

[2018-12-13 10:03] jason-p-pickering commented on #7
Should be handled by c7c08c1934c349c3371ce7103daa1ac1b7e9f8be

[2018-12-13 10:03] #7 closed

[2018-12-13 11:56] jason-p-pickering commented on #12
Won't do. This should be subject to the PEPFAR data calendar really and the import guidance. No explicit need to validate this, as it should also be obvious from the check on dev-de.

[2018-12-13 11:56] #12 closed

[2018-12-13 11:57] jason-p-pickering commented on #13
Won't do this as it will only be apparent during import onto production. The approvals state is volatile, and and check could be outdated almost immediately.

[2018-12-13 11:57] #13 closed

[2018-12-13 14:18] jason-p-pickering commented on #24
Support added in 714c5f8d4cfc944e9ea8103044bc1f3c7655c147

[2018-12-13 14:18] #24 closed

[2018-12-14 06:32] jason-p-pickering commented on #17
Should be taken care  of in a5de981f294b6cc2ccb3d5971b26add4eba29c4a

[2018-12-14 06:32] #17 closed

[2018-12-14 06:56] jason-p-pickering commented on #31
Finally managed to get to this and it should be fixed in 3c75cb75aa65b9a

[2018-12-14 06:56] #31 closed

[2018-12-14 07:08] jason-p-pickering commented on #37
@vshioshvili we could produce a more complicated data structure fairly easily like a list of lists, which would contain the "old" and "new". This would make additional processing a bit more difficult, but it would be possible do of course. Would something like this for you for?

[code]

There are numerous different ways to get the difference between the two data frames (`anti_join` is another way)

[2018-12-14 07:16] vshioshvili commented on #37
@jason-p-pickering i think we can table this for now. i have sqldf as part of our validation script that generates the summary that we send to agencies, and they have not complained, and considering that we might be shifting to events, this is not a priority.

[2018-12-14 07:18] jason-p-pickering commented on #43
@vshioshvili Could you have another look at this after 1148ca62737ff ?

[2018-12-14 07:18] #43 closed

[2018-12-14 08:19] jason-p-pickering commented on #46
@vshioshvili I think this has been fixed in 2428de4d3ff124e. Could you give it a try and let me know? Still working on unit tests there.

[2018-12-17 12:13] jason-p-pickering commented on #11
Implemented in df7cb91f8adc67711b8b803ed3a35d8cb4849f5f

[2018-12-17 12:13] #11 closed

[2018-12-17 12:14] jason-p-pickering commented on #9
Effectively implemented indf7cb91f8adc67711b8b803ed3a35d8cb4849f5f

[2018-12-17 12:14] #9 closed

[2019-01-17 17:49] jason-p-pickering commented on #32
@mmwebaze I think that this has been fixed due to re-implementation of a few methods. Closing for now, but if you see it again, please let me know.

[2019-01-17 17:49] #32 closed

[2019-01-17 17:52] jason-p-pickering commented on #54
@vshioshvili I am going to close this, because I think its more of an issue with Tomcat and DHIS2, than intrinsically an issue with these scripts. Once DHIS2 removes the "unsmart" characters, we can make changes here, and until then, those administering Tomcat will need to allow these characters.

Let me know if you think this is not correct by re-opening this ticket.

[2019-01-17 17:52] #54 closed

[2019-01-21 13:22] jason-p-pickering opened #57 "Better information when the session has expired"
After being idle for a while, the session will be invalidated by the server (or perhaps if the server is restarted).

Part of the issue appears to be that the `expiration` attribute of the cookie has not been set.

[code]

So, we do not really know if the session has expired or not.

We could however, just after any `httr` operation (GET, POST, etc) examine the headers to see if we got a 302.

`an

[2019-01-22 14:03] vshioshvili opened #58 "make validateData function pass along OU to getMechanismMap"
validateData function calls getMechanismMap function without parameters (https://github.com/jason-p-pickering/datim-validation/blob/master/R/validateData.R#L110). If validateData function is called with an ou (e.g. global user uses a specific country), it is not passed along, and getMechanismMap ends up picking up OU associated with the user.

[2019-01-22 14:07] jason-p-pickering commented on #58
Fixed in f509526f9049e485bb6301516d4360bfac007df6

[2019-01-22 14:07] #58 closed

[2019-02-05 22:35] vshioshvili opened #60 "likely bug in checkValueTypeCompliance.R"
https://github.com/jason-p-pickering/datim-validation/blob/master/R/checkValueTypeCompliance.R#L94

function getOptionSetMap in checkValueTypeCompliance.R retrieves option sets, but then when trying to write it to cache seems to refer to non-existing variable ds. I think the line should instead be:
```      saveCachedObject(option_sets,sig)}```

[2019-02-06 12:10] #60 closed

[2019-02-14 10:52] jason-p-pickering commented on #16
Closing this for now. Will be taken care of in the examples branch where all documentation will be revisited.

[2019-02-14 10:52] #16 closed

[2019-02-19 13:05] vikwato opened #64 "Use of ts variable"
if(nrow(invalidPeriod) != 0){
  write.csv(invalidPeriod, paste0(path, '_invalidPeriod', ts, '.csv'), na="") }

Hi Jason, it might not be an appropriate place but I was looking at an example of the R Script for datim validation. What is the variable, ts, used for? It's not initialized anywhere.

[2019-02-19 13:31] vikwato commented on #64
Is it timestamp?

[2019-02-19 13:44] jason-p-pickering commented on #64
@vikwato could you point me to line of the source code where you found this?

I checked in the latest version, and could not find it anywhere.

Thanks for the report!

[2019-02-19 13:51] vikwato commented on #64
[Guidance for Validating of Data Payloads for DATIM Using R Validation Package.pdf](https://github.com/jason-p-pickering/datim-validation/files/2880233/Guidance.for.Validating.of.Data.Payloads.for.DATIM.Using.R.Validation.Package.pdf)

[2019-02-19 13:53] vikwato commented on #64
![image](https://user-images.githubusercontent.com/12084633/53019889-72da7380-345e-11e9-9787-de43b679ed82.png)
 take for example this piece of code?

[2019-03-28 09:48] sam-bao opened #65 "getMechanismMap error when giving regional country UID"
For example Barbados

datimvalidation::getMechanismsMap("RKoVudgb05Y")
Error in as.Date.default(sapply(mechs$categoryOptions, function(x) ifelse(is.null(x$startDate),  :
  c("do not know how to convert 'sapply(mechs$categoryOptions, function(x) ifelse(is.null(x$startDate), ' to class “Date”", "do not know how to convert '    \"1900-01-01\", x$startDate))' to class “Date”")

As discussed I am feedi

[2019-07-18 08:20] sam-bao opened #67 "getValidDataElements throwing error after DHIS2 upgrade"
The function call I am attempting:

  `datimvalidation::getValidDataElements("nIHNMxuPUOR")`

The error message:

  ```Error in `[.data.frame`(des, , names(des.all)) :
    undefined columns selected```

 This appears to result from a difference in the structure of a response from DHIS2 2.3 vs 2.29.

This server running 2.3 at the moment
https://www.datim.org/api/29/sqlViews/DotdxKrNZxG/data.json?v

[2019-07-24 11:46] vshioshvili opened #70 "error due to recent changes"
@jason-p-pickering after recent changes to datim-validation to make the code work with 2.30, the following error started occurring:

[code]

[2019-07-25 07:37] jason-p-pickering commented on #70
Someone else reported this as well. Seems that you need to restart (and possibly upgrade R) and all dependencies. There were a lot of dependency upgrades here unfortunately.

[2019-07-25 07:37] #70 closed

[2019-07-25 07:37] jason-p-pickering commented on #67
Fixed in 96c6cb369fb54fb8289d90f7add396e11a2d40be. Be sure to restart (and possibly upgrade R to the latest version).

[2019-07-25 07:37] #67 closed

[2019-07-26 12:58] jason-p-pickering commented on #65
Should be handled better in bf9feeaf430c43ad35e5bc8778db3cfb84ac9fb5.

getMechanismsMap will return NULL if there are no mechanisms. When checking for invalid mechanisms, an error will be returned.

[2019-07-26 12:58] #65 closed

[2019-08-28 14:45] jason-p-pickering opened #71 "Implement additional functionality to check the validity of quarterly, semi-annual and annual indicators"
1) Implement (or update) data element groups or potentially a custom data store, which would provide a mapping of the cadence of data elements within a data set. I think as @hardingt has pointed out, this may vary from data set to data set. Thus it may not be possible to implement this with a simple data element group set.

2) Create functions to pull this metadata from DATIM, and validate the imp

[2019-10-04 07:21] jason-p-pickering opened #72 "getCrosswalkMap() method needs to be udpated"
This method is relying on a statically defined SQL view, which is no longer valid. Convert this to use the datastore instead.

[2019-10-10 10:10] jason-p-pickering commented on #71
Implemented  in 6b7a64accc9bc3de03c892c5c426af033c266b4f.

[2019-10-10 10:10] #71 closed

[2019-10-10 10:11] jason-p-pickering commented on #64
@vikwato this is other code which is not part of this package, so I will proceed to close this issue.

[2019-10-10 10:11] #64 closed

[2019-11-01 21:37] vshioshvili opened #74 "value type compliance for true_only data type"
https://github.com/jason-p-pickering/datim-validation/blob/master/R/checkValueTypeCompliance.R#L39 allows only `true` for TRUE_ONLY type, but DHIS2 recognizes/accepts `True`, `true`, and `1` as a valid value for TRUE_ONLY data element type. I am not sure about BOOLEAN (I have not looked).

The problem is that EMR_SITE data element for DATIM is set up as TRUE_ONLY, and import files that have a 1 ge

[2019-11-11 14:58] jason-p-pickering commented on #74
Resolved in 31fcaaffcb4cd075d1f01f8eb0e7267dbf6547b3

[2019-11-11 14:58] #74 closed

[2020-03-24 08:37] vshioshvili opened #79 "http request timeout"
In a number of places the code has timeout hardcoded at 60 seconds. In certain situations that is not enough - e.g. https://github.com/jason-p-pickering/datim-validation/blob/master/R/checkDataElementOrgunitValidity.R#L54 - when running datim-validation against SIMS data, the referenced code tries to load org units for two data sets, one of which is associated with all facilities in the entire org

[2020-04-28 15:39] vshioshvili opened #81 "bug in evaluateValidation"
There is an issue with these two lines:
https://github.com/jason-p-pickering/datim-validation/blob/5a3f9f04265ba1ecaf6236a09abc04b4b4875994/R/evaluateValidation.R#L79

https://github.com/jason-p-pickering/datim-validation/blob/5a3f9f04265ba1ecaf6236a09abc04b4b4875994/R/evaluateValidation.R#L81

The problem is that the expression pattern is for `#{UID}` (when no COC is present) style value, while e

[2020-04-28 18:08] vshioshvili commented on #81
Also, not sure if it is related, but the current codebase erroneously flags a record as violating exclusive pair (`:OR:`) rule, even when there is a single record in the file being validated.

[2020-04-29 07:18] jason-p-pickering commented on #81
Thanks for the detailed debugging. I'll try and see if I can get this fixed quickly.

[2020-04-29 10:53] jason-p-pickering commented on #81
I was not able to replicate this issue, but I think this is what happened.

1) A copy of the validation rules from `getValidationRules` was present in the cache from an older version of the code.
2) In the meantime, the code was updated to use the new version of master.
3) The old cached object was retrieved, but not valid with the new code.

After clearing the cache, I think this should work.

Wa

[2020-04-29 10:53] #81 closed

[2020-09-05 14:53] jason-p-pickering opened #82 "Consider removing support for XML"
The XML package has been orphaned, and is receiving some updates, but not regularly. There is another alternative to use the xml2 package, but this would obviously require us to refactor the code in this package.

Question is, should we even really support XML? It seems that the vast majority of data is either CSV of JSON.

Thoughts @vshioshvili ?

[2020-10-29 16:02] vshioshvili opened #84 "Consider expanding getCurrentMERDataSets to include NAT data sets"
@jason-p-pickering  DATIM user requested assistance with a file that includes NAT level  data (HRH_STAFF_NAT data element to be exact). As getCurrentMERDataSets method does not include data sets other than community, facility, and medical store level, it reports errors, while they are not really errors.

Can we consider expanding it to include other data sets?
https://github.com/jason-p-pickering/

[2020-11-06 12:30] vshioshvili opened #86 "scientific notation issue with d2parser"
If there is a large number of records in the input file (e.g. 600k records) R is forcing scientific notation on larger values (e.g. `50000` becomes `5e+05`) which results in value type compliance issues to be triggered.

Note, this is not an issue with a small file, and if a file only has a handful of records, it does not apply scientific notation, and everything is working as expected.

I am able

[2021-01-12 13:04] vshioshvili opened #88 "inconsistency in d2session use in method signatures"
While most method signatures default recently introduced d2session attribute to d2_default_session, created by datimutils:: loginToDATIM function (unless a different variable name is provided), this one https://github.com/jason-p-pickering/datim-validation/blob/master/R/checkDataElementOrgunitValidity.R#L100 does not, breaking code that does not specify the d2session variable explicitly.

[2021-01-22 11:51] jason-p-pickering commented on #84
@vshioshvili can you see if this has been fixed in 41eea905adfaf2b5da4cc581f91e8c06d095cfe3? If so, please close this issue.

[2021-01-22 11:53] jason-p-pickering commented on #88
Should be fixed in 86c7147386772c14823adca872a83a64c66a743b

[2021-01-22 11:53] #88 closed

[2021-01-22 12:04] jason-p-pickering commented on #86
Noted this in the documentation in 1c3f196288984c4330a998d673376623a20e1401

[2021-01-22 12:04] #86 closed

[2021-01-22 12:20] vshioshvili commented on #84
@jason-p-pickering Yes and no

1) not sure if we should include the OU level data set as well, not just facility;
2) but more importantly, for the fix to work, we need to allow default mechanism. d2parser rejects(https://github.com/jason-p-pickering/datim-validation/blob/master/R/d2Parser.R#L51) default mechanism as it is not included in the list of valid mechanisms (https://github.com/jason-p-pic

[2021-01-29 13:36] jason-p-pickering opened #90 "Define default d2_session as d2_default_session"
A few functions are missing default paramater definitions for the d2_session. Review and fix this.

[2021-02-10 18:53] kwebihaf-github opened #91 "Couldn't find function loadSecrets"
Hello,

 When I run` loadSecrets(secrets)` an error is returned.

The error is `Error in loadSecrets(secrets) : could not find function "loadSecrets"`

I am running `datimvalidation` package version `1.0.112`

[2021-02-10 20:25] jason-p-pickering commented on #91
Did you load the package?

[2021-02-11 09:16] kwebihaf-github commented on #91
Yes I did

[2021-03-05 21:29] vshioshvili opened #92 "evaluateValidation.R - SKIP_IF_ALL_VALUES_MISSING behavior different from DHIS2"
@jason-p-pickering [this block](https://github.com/jason-p-pickering/datim-validation/blob/f6020cfc6b9bcbf292c91ac7ec74a93f67f5cd39/R/evaluateValidation.R#L85) appears to cause datim-validation to behave differently than DHIS2.

According to the code referenced above, if one of the sides is declared as `NEVER_SKIP`, rule is evaluated, not matter what the other side of the expression is.

In DHIS2,

[2021-03-15 17:41] vshioshvili opened #93 "caching is no longer working"
Since the migration to datimutils package for logging into and maintaining DHIS2 session information, caching of metadata no longer works. No longer available `loadSecrets` method set option [maxCacheAge](https://github.com/jason-p-pickering/datim-validation/commit/7f2401b2bfd79dea2f0db188ad08be0ebab8700e#diff-8b124cf6b080ba70e77206a840754c97f09297eacf7cc2b088e5efc873ac5fdaL122) but now that there

[2021-03-29 08:51] jason-p-pickering commented on #93
Updated the vignette with instructions about how to get the caching working again by setting an option in 61e5ff51d8f31f786c765915c5b0b8d28a52109e

[2021-03-29 08:51] #93 closed

[2021-03-29 08:52] jason-p-pickering commented on #91
@kwebihaf-github this function has been deprecated. Please refer to the vignette for detailed instructions about the latest version. In short, you will need to use the function "loginToDATIM" from the datimutils package https://github.com/pepfar-datim/datimutils

[2021-03-29 08:52] #91 closed

[2021-09-15 13:26] kwebihaf-github opened #95 "Error in validateData function with arguments supplied"
The ```validateData``` function is producing an error when run on ```datimvalidation``` package version ```1.1.2```

The error returned is as below.
[code]
---
The command used is as below:
[code]

[2021-09-15 15:03] jason-p-pickering commented on #95
Hello @kwebihaf-github . This is not a valid call to that function. As you can see from the documentation...
[code]

The `datasets` argument is not valid. Please consult the vignette for more details on how to use this function.

[2021-09-15 15:03] #95 closed

[2021-09-15 15:06] jason-p-pickering commented on #92
@vshioshvili is this still an issue?

[2021-09-23 10:16] vshioshvili commented on #92
@jason-p-pickering not an issue - we can close this

[2021-09-23 10:16] #92 closed

[2022-08-17 12:36] vshioshvili opened #102 "Update checkValueTypeCompliance to support upper case boolean values"
Update the boolean and true only types to accept uppercase values in addition to currently accepted all lower case, sentence case, and 1/0 values. DHIS2 accepts all upper case, and Excel has a tendency to make true and false all upper case in a csv file, causing validation issues, even though they are valid values from DHIS2 perspective.

https://github.com/pepfar-datim/datim-validation/blob/maste

[2022-08-17 12:38] vshioshvili opened #103 "Update the web app to include cadence check when validating uploaded file"
Function already exists (https://github.com/pepfar-datim/datim-validation/blob/master/R/checkDataElementCadence.R), but as far as I know it has not been included in the web app.

[2022-08-17 12:39] vshioshvili opened #104 "Add ability to validate host country results (and narratives)"
This will require default mechanism being a valid mechanism, which currently is not.

[2022-08-17 12:42] vshioshvili opened #105 "Add ability to validate narrative data"
In the web app allow additional data type - narratives - to have ability to validate narratives, which would need to skip validation rule violations, and also introduce a check for value length not being more than 50,000 characters.

[2022-08-25 10:41] jason-p-pickering commented on #103
Implemented in the latest release.

[2022-08-25 10:41] #103 closed

[2022-08-25 10:44] jason-p-pickering commented on #79
This method has been completely reimplemented, and I do not think this timeout will be an issue any longer. However, I have also added the ability alter the timeout (across the entire project) with an environment variable. If this is set (HTTP_TIMEOUT) the timeout can be controlled by the user. The default is 300 seconds but could be altered if required for your specific setup.

[2022-08-25 10:44] #79 closed

[2022-08-25 10:44] jason-p-pickering commented on #72
Updated the SQL view to reflect the new version in DATIM.

[2022-08-25 10:44] #72 closed

[2022-08-25 11:08] jason-p-pickering commented on #90
This has been redefined throughout the package in v1.2.0

[2022-08-25 11:08] #90 closed

[2022-08-26 10:04] jason-p-pickering commented on #84
@vshioshvili  I think this latest [PR](https://github.com/pepfar-datim/datim-validation/pull/109) should address most of this. Support for the NAT level datasets has been added, along with the default mechanism. Note, that by allowing the default mechanism as a possible mechanism, this does mean we will need to check all "usual" MER data to be sure that it is not being submitted against the defaul

[2022-08-26 10:04] #84 closed

[2022-08-26 10:04] jason-p-pickering commented on #102
Should be addressed in v1.2.0.

[2022-08-26 10:04] #102 closed

[2022-08-26 10:05] jason-p-pickering commented on #104
Should be addressed in #109.

Support for narratives will be added in a separate PR.

[2022-08-26 10:05] #104 closed

[2022-09-22 13:59] #105 closed

[2022-09-22 16:27] jason-p-pickering commented on #57
Not relevant for this library since we are using datimutils for authentication May be addressed there at a later point in time.

[2022-09-22 16:27] #57 closed

[2022-10-04 18:00] Hiwot-Chichaybelu opened #120 "checkValueTypeCompliance not validating DATETIME data type correctly"
https://github.com/pepfar-datim/datim-validation/blob/d1e0a1e002d681ab0896758f5cfb2edbce612a88/R/checkValueTypeCompliance.R#L49
According to the regex in the above line DATETIME is expected to have yyyy-mm-dd hh:mm:ss format. However, the acceptable format in DATIM is yyyy-mm-ddThh:mm:ss.

[2022-11-01 06:22] jason-p-pickering commented on #120
Should be fixed in 8df92deff7c34ac48dd4abcdba68bfa24c7795fa

[2022-11-01 06:22] #120 closed

[2022-11-01 07:16] jason-p-pickering opened #125 "Convert parsing warning to a message"
Currently, d2Parser throws a warning if there are parsing issues with the CSV file, namely incomplete rows. These rows are excluded from further processing, but there is not a good way to display this in the app. Convert this parsing warning to   message so it can be displayed to the user along with other validation messages.

[2022-11-02 09:00] jason-p-pickering commented on #125
Implemented in 8e6222097dd1a4b0022547882dd82244440242a9

[2022-11-02 09:00] #125 closed